[submodule "themes/no-style-please"]
	path = themes/no-style-please
	url = https://github.com/riggraz/no-style-please.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
[submodule "themes/vitae"]
	path = themes/vitae
	url = https://codeberg.org/farooqkz/hugo-vitae.git
[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
