<footer id="main-footer">
<hr />
<!-- Action bar for subscribe and theme -->
<div class="footer-action-bar">
  <div class="footer-action-content">
    <div class="action-subscribe-form">
      <form action="https://api.follow.it/subscription-form/S1BkWDJHeHpXSXZWRFFkRENHOVI3MmR3OE55YitUS2FKT1dDbUNidndEUTUvb3ZBUlEwbkI4Y3Z6MU5pTGNWVVo5WHpVMElJYytoOVRoa0FKekJaZlQzNzd1UUVyVjFqZUx6Y2ovNEZoR0EwSyt4RnFSU2JCOVN2NDh1RGVGdDd8VWhHQkw3L2l0VjJUcjgyZ1Q3M240ZlZJaS8zSlUrVzBQNjlKQ0VNS3V2WT0=/8" method="post">
        <input type="email" name="email" required placeholder="your@email.com" spellcheck="false">
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="action-buttons">
      <button class="theme-toggle action-button" aria-label="Toggle theme"></button>
    </div>
  </div>
</div>
  {{ if .Site.Params.social }}
<p id="social">
    Find me around the web:
<br />
    {{ range $i, $e := .Site.Params.social }}
      {{ if le $i 2 }}
        {{if $i}} | {{end}} <a href="{{ .url }}" target="_blank">{{ with .pre }}{{ . | safeHTML }}{{ end }}{{- .name -}}</a>
      {{ else }}
<span class="social-extra"> | <a href="{{ .url }}" target="_blank">{{ with .pre }}{{ . | safeHTML }}{{ end }}{{- .name -}}</a></span>
      {{ end }}
    {{ end }}
<button class="expand-toggle" aria-label="Toggle more social links">▼</button>
</p>
  {{ end }}
<p class="copyright">
    Copyright © {{ now.Format "2006"}}
<a href="{{ .Site.BaseURL }}"><strong>{{ default "Blog Author" .Site.Params.Author }}</strong></a>.
    This work is licensed under the
<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.
</p>
</footer>